# Classification : KNN

In [44]:
%pylab inline
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("teleCust1000t.csv")

In [4]:
df.head(100)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,17,33,0,9,23.0,5,3,0.0,0,1,4
96,1,55,53,1,21,34.0,1,8,0.0,0,2,3
97,3,43,36,1,5,107.0,1,19,0.0,1,3,2
98,2,47,25,1,5,21.0,1,1,0.0,1,2,3
99,3,65,58,0,30,83.0,2,16,0.0,1,1,2

In [7]:
df['custcat']

0      1
1      4
2      3
3      1
4      3
      ..
995    1
996    1
997    4
998    3
999    2
Name: custcat, Length: 1000, dtype: int64

In [8]:
df['custcat'].value_counts()

3    281
1    266
4    236
2    217
Name: custcat, dtype: int64

In [9]:
df['income'].value_counts()

25.0     24
26.0     22
41.0     22
33.0     20
46.0     19
         ..
214.0     1
508.0     1
130.0     1
928.0     1
591.0     1
Name: income, Length: 218, dtype: int64

In [14]:
x = df[['region' , 'tenure' , 'marital','address' , 'income' , 'ed' , 'employ' , 'retire' , 'gender' , 'reside' , 'custcat']].values

In [15]:
x

array([[ 2., 13.,  1., ...,  0.,  2.,  1.],
       [ 3., 11.,  1., ...,  0.,  6.,  4.],
       [ 3., 68.,  1., ...,  1.,  2.,  3.],
       ...,
       [ 3., 67.,  0., ...,  1.,  1.,  4.],
       [ 3., 70.,  0., ...,  1.,  1.,  3.],
       [ 3., 50.,  1., ...,  1.,  3.,  2.]])

In [34]:
y = df['custcat'].values

In [35]:
x_train , x_test , y_train , y_test = train_test_split( x, y, test_size=0.2, random_state=4)

In [36]:
print("Training set length : " ,len(x_train) , len(y_train))

Training set length :  800 800

In [37]:
print("Testing set length : " , len(x_test) , len(y_test))

Testing set length :  200 200

### Algorithm

For each dataset coordinate; we find the nearest four neighbours ( we set k = 4 ) and find the dominating classifier

In [38]:
k = 4
neighbor = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)

In [40]:
neighbor

KNeighborsClassifier(n_neighbors=4)

In [41]:
y_exp = neighbor.predict(x_test)

In [42]:
print(y_exp)

[1 1 4 3 4 3 3 1 3 2 4 1 3 3 3 1 2 2 3 1 3 3 1 2 1 3 1 4 1 1 2 1 1 2 1 2 3
 3 1 4 1 2 3 4 3 4 4 1 1 1 1 1 2 1 3 1 3 3 4 1 1 2 4 2 4 1 1 2 2 2 1 1 3 3
 1 1 3 3 2 2 3 3 3 1 1 1 3 4 1 3 3 1 3 1 1 3 1 1 1 3 3 1 3 1 4 2 3 2 2 3 2
 1 3 2 3 1 1 2 2 1 1 1 2 4 1 4 4 4 1 4 1 3 1 3 1 4 2 1 1 1 2 3 4 2 1 1 1 1
 1 4 1 3 2 3 3 4 3 3 1 2 1 3 1 1 3 2 1 1 4 3 2 1 1 2 4 2 1 1 1 1 2 2 1 1 3
 3 1 3 3 1 3 2 2 2 3 2 1 3 2 3]

In [43]:
print(y_test)

[4 1 1 2 4 4 3 1 3 4 4 2 4 1 4 3 4 2 3 4 1 1 1 3 4 4 4 2 4 3 1 1 4 3 4 4 3
 3 4 4 2 4 1 1 2 4 3 3 2 2 2 3 2 3 3 4 4 3 1 4 1 2 3 3 3 1 4 3 2 4 3 1 4 3
 1 4 2 4 3 2 1 3 1 1 1 2 3 2 1 3 4 1 3 1 3 1 4 1 1 3 4 1 4 3 4 4 2 1 3 4 4
 1 2 2 1 2 3 1 3 1 1 1 2 3 3 4 2 4 2 1 2 1 3 1 3 3 2 2 1 3 2 2 2 3 1 4 3 2
 2 3 4 4 4 2 2 3 1 2 4 3 3 1 1 3 1 4 4 1 3 2 1 2 4 2 4 2 2 3 4 1 1 2 3 1 4
 1 4 1 3 4 2 3 1 2 3 2 3 3 2 3]

In [45]:
print("Test set Accuracy: ", metrics.accuracy_score(y_test, y_exp))

Test set Accuracy:  0.33

In [48]:
cnt = 0
for a in range(len(y_exp)):
    if y_exp[a] == y_test[a] :
        cnt = cnt + 1
        
print("Out of " , a, " samples , " , cnt , " samples matched in the test data")

Out of  199  samples ,  66  samples matched in the test data